@import '../sass/components/modal';
@import '../sass/components/header-logo';
@import '../sass/components/header';
@import '../sass/components/nav';
@import '../sass/components/section';
@import '../utils/variables';

* {
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
  margin: 0 auto;
}
