@use '../utils/variables';

.page-header {
  display: flex;
  align-items: center;
}

.logo-webstudio {
  text-decoration: none;
  line-height: 1.19;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: $familyRaleway;
}

.logo-webstudio__web {
  color: $color-blue;
}
