/*colors*/
$color-blue: #2196f3;
$color-white: #ffffff;
$color-bacground: #f5f4fa;
$color-gray: #757575;
$color-section: #2f303a;
$color-black: #212121;
$color-studio: #000000;
$color-border: #ececec;
$color-team: #f5f4fa;
$color-border: #eeeeee;
$color-border-svg: #afb1b8;
$color-button: #054da3;

$familyRoboto: 'Roboto', sans-serif;
$familyRaleway: 'Raleway', sans-serif;

$fontSmall: 500;
$fontMedium: 700;
$fontBig: 900;

/*
$line-height: 1.1;
$line-height: 1.14;
$line-height: 1.15;
$line-height: 1.16;
$line-height: 1.17;
$line-height: 1.18;
$line-height: 1.19;
$line-height: 1.36;
$line-height: 1.42;
$line-height: 1.5;
$line-height: 1.55;
$line-height: 1.62;
$line-height: 1.7;
$line-height: 1.71;
$line-height: 1.87;
$line-height: 1.88;
$line-height: 2;

$font-size: 12px;
$font-size: 14px;
$font-size: 16px;
$font-size: 18px;
$font-size: 20px;
$font-size: 26px;
$font-size: 36px;
$font-size: 44px;

$letter-spacing: 0.01em;
$letter-spacing: 0.02em;
$letter-spacing: 0.03em;
$letter-spacing: 0.06em;
